<div #tabTitle>
    <ngb-tabset>
        <ngb-tab title="Stitch">
            <ng-template ngbTabContent>
                <div class="box" [style.height]="'calc(100vh - ' + tabTitleHeight + 'px)'">
                    <app-stitch-control></app-stitch-control>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Objects">
            <ng-template ngbTabContent>
                <div class="box">
                    Objects tab content
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
