<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10" >
            <div class="row">
                <div class="col-lg-12" >
                    <app-toolbar></app-toolbar>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <app-edit></app-edit>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <app-properties-bar></app-properties-bar>
        </div>
    </div>
</div>
