#svg-container {
    border:2px solid darkslategrey;
    background: #f0f0f0;
    height: 99.9vh;
    overflow: hidden;
}

:host ::ng-deep svg {
    width: 100%;
}

:host ::ng-deep .selection-rect1 {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

:host ::ng-deep .selection-rect2 {
    fill: none;
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 5;
}

:host ::ng-deep .selected-element {
    animation-name: highlight;
    animation-duration: 200ms;
    animation-iteration-count: 1;
}

@keyframes highlight {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}
