/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container-fluid {
    height: 100vh;
}

.modal-content {
    width: 150%;
}

.rounded-1 {
    border-radius: 1rem !important;
}

.stitchableShape {
    stroke: #000;
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
    fill-opacity: 0;
}

.stitchablePath {
    marker-start: url(#markerCircle);
    marker-mid: url(#markerArrow);
    marker-end: url(#markerCircle);
}
